/* Container to hold all images in a responsive grid */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 10px;
}

/* Each image and text container */
.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style for the image */
.lazy-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
}
.root {
  background-color: black;
}
/* Style for the caption */
.image-caption {
  font-weight: bold;
  margin-top: 10px;
  margin: 0px;
}

/* Style for the description */
.image-description {
  font-size: 0.9em;
  color: #555;
  margin: 0px;
}
